{% extends "base.html" %}
{% block content %}


<form action="/teams" method="POST">
    <fieldset>
        <legend>Add a New Team</legend>
            <div>
                <label for="team_name">Team Name:</label>
                <input type="text" id="team_name" name="team_name">
                <label for="arena_name">Arena Name:</label>
                <input type="text" id="arena_name" name="arena_name">
                <label for="team_location">Team Location:</label>
                <input type="text" id="team_location" name="team_location">
                <label for="team_website">Team Website:</label>
                <input type="text" id="team_website" name="team_website">
                <label for="team_logo">Team Logo:</label>
                <input type="file" id="team_logo" name="team_logo">
                <input type="submit">
            </div>
    </fieldset>
</form>

{% endblock %}