{% extends "base.html" %}
{% block content %}

<h2>Teams</h2>
<section class="TeamInfo">
    <img src="/static/images/{{team.team_logo}}" width="120" height="120">
    <p>Team ID: {{ team.id }}</p>
    <p>Team Name: {{ team.team_name }}</p>
    <p>Arena Name: {{ team.arena_name }}</p>
    <p>Team Location: {{ team.arena_location }}</p>
    <p>Team Website: {{ team.team_website}}</p>

    <p>
    <a href="/teams/edit/{{team.id}}"> Edit</a>
    </p>
    <form action="/teams/delete/{{team.id}}" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>
{% for pair in game_pairs %}

<section class="teamGameDetails">
    <h1>Game:   {{pair["home"].game.id}}</h1>
    <h2>Home</h2>
    <h3>
    {{pair["home_name"]}}
    {{pair["home"].result}}
    </h3>
    <p>goals: {{pair["home"].goals_score}}</p>
    <p>Played: {{pair["home"].played}}</p>
    <p>Penalty Minutes: {{pair["home"].penalties}}</p>
   
    

    <h2>Away</h2>
    {{pair["away_name"]}}
    {{pair["away"].result}}
    <p>goals: {{pair["away"].goals_score}}</p>
    <p>Played: {{pair["away"].played}}</p> 
    <p>Penalty Minutes: {{pair["away"].penalties}}</p>


</section>

{% endfor %}
{% endblock %}