{% extends "base.html" %}
{% block content %}

<h2>Games Details</h2>

{% for league in leagues %}

<section>
    <p>{{ league.game.id }}</p>
    <p>{{ league.team.team_name }}</p>
    <p>{{ league.season }}</p>
    <p>{{ league.played }}</p>
    <p>{{ league.goal_score}}  and  {{ league.penalties }}</p>
    <a href="/games/{{ game.id }}/edit"></a>
    <form action="/games/{{ games.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>

{% endfor %}
{% endblock %}