{% extends "base.html" %}
{% block content %}

<h2>Add a New Game</h2>

<form action="/games" method="POST">
    <div>
    <div>
        <label for="home_team">Home Team:</label>
        <select name="home_team" id="team">
            {% for team in teams %}
            <option value="{{ team.id }}">
                {{ team.team_name }}
            </option>
            {% endfor %}

    </div>
    <div>
        <label for="away_team">Away Team:</label>
        <select name="away_team" id="team">
            {% for team in teams %}
            <option value="{{ team.id }}">
                {{ team.team_name }}
            </option>
            {% endfor %}

    </div>

        <label for="game_date">Game Date:</label>
        <input type="text" id="game_date" name="game_date">
        <label for="game_time">Game Time:</label>
        <input type="text" id="game_time" name="game_time">
        <label for="game_status">Game Status:</label>
        <input type="text" id="game_status" name="game_status">
        <label for="home_scpre">Home Score:</label>
        <input type="number" id="home_score" name="home_score">
        <label for="away_score">Away Score:</label>
        <input type="number" id="away_score" name="away_score">
        <label for="home_penalties">Home Penalties:</label>
        <input type="number" id="home_penalties" name="home_penalties">
        <label for="away_penalties">Away Penalties:</label>
        <input type="number" id="away_penalties" name="">
        <br>
        <input type="submit">
    </div>
</form>

{% endblock %}