{% extends "base.html" %}
{% block content %}

<h2>Update Game details </h2>

<form action="/gamedetails" method="POST">
    <div>

        <label for="game_id">Game ID:</label>
        <input type="text" id="game_id" name="game_id" value = "{{gamedetail.game.id}}">


        <label for="team_id">Team ID:</label>
        <input type="text" id="team_id" name="team_id" value = "{{gamedetail.team.id}}">


        <label for="played">Played:</label>
        <input type="text" id="played" name="played" value = "{{gamedetail.played}}">
        <label for="result">Result:</label>
        <input type="text" id="result" name="result" value = "{{gamedetail.result}}">
        <label for="goals_score">Goals Scored:</label>
        <input type="text" id="goals_score" name="goals_score" value = "{{gamedetail.goals_score}}">
        <label for="penalties">Penalty Minutes:</label>
        <input type="text" id="penalties" name="penalties" value = "{{gamedetail.penalties}}">
        <label for="ot">Over Time:</label>
        <input type="text" id="ot" name="ot" value = "{{gamedetail.ot}}">
        <input type="submit">
    </div>
</form>

{% endblock %}