{% extends "base.html" %}
{% block content %}

<h2>Games Details</h2>
<a href="/gamedetails/new">Add Game Details</a>

{% for gamedetail in gamedetails %}

<section>
    <p>{{ gamedetail.game.id }}</p>
    <p>{{ gamedetail.team.team_name }}</p>
    <p>{{ gamedetail.result }}</p>
    <p>{{ gamedetail.played }}</p>
    <p>{{ gamedetail.goals_score}}  and  {{ gamedetail.penalties }}</p>
    <a href="/gamedetails/edit/{{gamedetail.id}}">Edit:</a>
    <form action="/gamedetails/delete/{gamedetail.id}}" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>

{% endfor %}
{% endblock %}