{% extends "base.html" %}
{% block content %}

<form action="/gamedetails" method="POST">
    <fieldset>
        <legend>Add New Game Details</legend>
                <div>
                    <label for="game_id">Game ID:</label>
                    <select name="game_id" id="game_id">
                        {% for game in games %}
                        <option value="{{game.id}}">
                            {{game.id}}
                        </option>
                        {% endfor %}
                    </select>
                    <label for="team_id">Team ID:</label>
                    <select name="team_id" id="team_id">
                        {% for team in teams %}
                        <option value="{{team.id}}">
                            {{team.team_name}}
                        </option>
                        {% endfor %}
                    </select>
                    <label for="played">Played:</label>
                    <input type="text" id="played" name="played">
                    <label for="result">Result:</label>
                    <input type="text" id="result" name="result">
                    <label for="goals_score">Goals Scored:</label>
                    <input type="text" id="goals_score" name="goals_score">
                    <label for="penalties">Penalty Minutes:</label>
                    <input type="text" id="penalties" name="penalties">
                    <label for="ot">Over Time:</label>
                    <input type="text" id="ot" name="ot">
                    <input type="submit">
                </div>
        <fieldset>
</form>

{% endblock %}