.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 0 auto;
  }
  .eihllogo {
    float: left;
  }
nav {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    margin: 1rem auto;
    background-color: #eee;
  }

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
  
}
  nav a {
    color: #00bff3;
    text-decoration: none;
    font-weight: 600;
    display: block;    
    padding: 0.5rem 1rem;
  }

nav a:focus {
    color: black;
}

nav a:hover {
    color: #ff583d;
    background-color: #f0c808;
}




 

 


