.grid-container {
    display:flex;
    flex-wrap: wrap;
    width: 50%;
    padding-left: 30%;
  }
  .grid-item {
    border: solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    align-content: center;
  }

.grid-item img {
    width: 90%;
    height: 90%;
}


  .container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
    width: 80%;
  }

  .league-container {
    display:flex;
    flex-direction: column;
    font-size: 1.5em;
  }

  .league-container img {
        vertical-align: middle;
  }

  .eihllogo {
    float: left;
  }
nav {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    margin: 1rem auto;
    background-color: #eee;
  }

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
  
}
  nav a {
    color: #00bff3;
    text-decoration: none;
    font-weight: 600;
    display: block;    
    padding: 0.5rem 1rem;
  }

nav a:focus {
    color: black;
}

nav a:hover {
    color: #ff583d;
    background-color: #f0c808;
}

fieldset {
  margin: 2em 0;
  padding: 1em 2em;
  border: solid 2px black;
  border-radius: 12px;
  min-width: 200px;
}

legend {
  font-size: 1.25em;
  padding: 0 .25em;
  color: black;
}

label{
  display: block;
  margin-top: 1em;
}



.checks label {
  margin-top: 0;
}

label:first-of-type {
  margin-top: 0;
}

input {
  padding: .5em;
  border: solid 1px #999;
}

input[type="submit"] {
  padding: .5em 1em;
  border-radius: 12px;
  background-color: #333;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .8em;
  float: right;
 
}

section > img {
  vertical-align: middle;
  padding-top: 1px;
}

.TeamInfo{
  padding: 1em;
}
.teamGameDetails{
  border: solid .25em black;
  padding: .5em;
  margin: .5em;
}

table {
  border: solid 1px red;
}


