{% extends "base.html" %}
{% block content %}

<h2>Games</h2>
<a href="/games/new">Add Game</a>
<br>
{% for game in games %}

<section class="gameIndex">
    <p>
    Game id: {{ game.id }} 
    Date: {{ game.game_date }} 
    Time: {{ game.game_time }} 
    Location: {{ game.location }}
    </p>
    <p> 
    <button type="button" onclick="location.href='/games/edit/{{game.id}}'"> Edit </button>  
    <form action="/games/delete/{{game.id}}" method="POST">
        <input type="submit" value="Delete">
    </form>
    </p>
</section>

{% endfor %}
{% endblock %}